.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn, .orange {
  background-color: var(--btn);
  width: 100%;
  max-width: 370px;
  height: 52px;
  border: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding: 10px;
  box-shadow: var(--shadow);
  margin: 15px;
  border-radius: 0.35rem;
}
.orange {
  background-color: var(--btnOrange);
}
.btn:focus, .orange:focus {
  outline: 0;
}
.vid, .gif {
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
  box-shadow: var(--shadow);
}
.load {
  font-size: 30px;
}
