body, html {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --btn: #09C372;
  --btnOrange: #fa8142;
  --bg: #12181B;
  --shadow: 5px 10px 20px rgba(0,0,0,0.3);
}